/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: white;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: white;
  --back:  linear-gradient(135deg, #13072e, #3f2182);


  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
  background-color: #13072E;
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}


/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--back);
  transition: var(--tran-05);
  z-index: 100;
}
.sidebar.close {
  width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}
.image{
  height: 50px;
  width: 50px;
}
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.text {
  display: flex;
  justify-content: flex-end;
  color: white;
  gap: 10px;
}

.sidebar .text,
.sidebar .icon {
  color: white;
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}


/* =========================== */

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}
.mode .sun-moon i.sun {
  opacity: 0;
}
body.dark .mode .sun-moon i.sun {
  opacity: 1;
}
body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}
/* span{
  color: red;
} */


/* Home Section */
.home {
  position: absolute;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: #13072E;
  background-position: center;
  background-size: contain;
  transition: var(--tran-05);
}

.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}

body.dark .home .text {
  color: var(--text-color);
}

/* Active Class */
.active {
  color: white;
  background-color: #695cfe;
}

/* Welcome Nav Section */
.welcome-nav {
  text-align: center;
  padding: 10px;
}

.welcome-nav marquee {
  height: 30px;
  text-align: center;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  background-color: #f0f0f0;
  border-top: 1px ridge;
  border-bottom: 1px ridge;
}

/* Balance Wallet Section */
.balance-wallet {
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  flex-wrap: wrap;
  border-radius: 50px;
  padding: 15px 20px;
  gap: 200px; 
}

.wallet {
  background-color: #ADACB8;
  border-radius: 20px;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; 
}

.balance {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  width: 250px;
  color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  font-weight: bold;
  height: 200px;
}

.wallet-text-2 {
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  flex-wrap: wrap;
  border-radius: 50px;
  padding: 15px 20px;
  max-width: 100%;
  margin-left: -10px;
}
.wallet-text-20 {
  font-family: Arial, sans-serif;
  color: #333;
  flex-wrap: wrap;
  border-radius: 50px;
  padding: 15px 20px;
  width: 40%;
  margin-top: -15px;
  height: 390px;

  max-width: 100%;
}

.balance-text{
  display: block;
  overflow: hidden;
  background-color: white;
  border-radius: 20px;
  border: 1px solid;
  text-align: left;
  height: 70%;
  width: 66%;
  padding: 30px 40px;
}
.balance-text-1 {
  gap: 1px;
  border-radius: 20px;
  height: 70px;
  max-height: 50%;
  margin-top: 20px;
  background-color: wheat;
  padding: 25px 30px;
 
}

.balance-text-1 {
  width: 50%;
}

.balance-text-2 {
  display: flex;
  flex-direction: column;
  max-height: 100px;
}

.balance-text p h1 {
  font-size: 100px;
}

.balance i {
  font-size: 40px;
  color: #333;
  margin-bottom: 10px;
}

.task {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 15px;
}

h1 {
  color: black;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: -10px;
  text-align: center;
}

p {
  color: black;
}

a {
  text-decoration: none;
  font-size: 10px;
}

.on {
  font-size: 25px;
}

a::after {
  color: gray;
}

.bx {
  color: white;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px 40px;
  border-radius: 20px;
  font-weight: bold;
  background-color: #ADACB8;
  color: black;
  border: 2px solid black;
}

.btn:hover {
  background-color: rgb(26, 26, 164);
  color: white;
  transform: rotateX('45deg');
}

.best-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.btn-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ADACB8;
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px 20px;
  margin-top: 15px;
}

/* buy data */
.container-data {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #13072E;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #13072E;
  text-align: center;
  color: white;
  width: 700px;
  height: 700px;
  margin-top: 50px;
  padding: 20px;
}
.myFile{
  margin-top: 10px;
}
@media screen and (max-width: 1200px) {
  .balance-wallet {
    padding: 5px 10px;
    gap: 15px;
  }

  .wallet {
    padding: 10px;
  }

  .balance {
    padding: 20px;
    width: auto;
    color: #000;
    font-size: 20px;
    height: auto;
  }

  p {
    font-size: 15px;
  }

  h1 {
    font-size: 20px;
  }

  .wallet-text-2 {
    padding: 5px 10px;
    margin-top: 10%;
    max-width: 100%;
  }

  .balance-text {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 680px;
    padding: 10px 15px;
  }

 
  .btn {
    padding: 5px 10px;
    margin: 0;
    font-size: 15px;
  }
  hr{
    display: none;
  }


  .balance-text-1{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 680px;
    height: 150%;
    max-width: 700px;
    max-height: 200%;
    padding: 10px 15px;
  }
  .balance-text-1 .btn{
    padding: 3px 5px;
    margin: 0;
    font-size: 15px;

  }
}

@media screen and (max-width: 600px) {
  .balance-wallet {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
  }

  .on {
    font-size: 20px;
  }

  .wallet {
    padding: 10px;
    background-color: #ADACB8;
    border-radius: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .balance {
    background-color: white;
    border-radius: 20px;
    padding: 5px 5px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 15%;
  }

  p {
    font-size: 15px;
  }

  h1 {
    font-size: 20px;
  }

  .wallet-text-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 400px;
    margin: 0;
    margin-top: -80px;
    padding: 5px 7px;
  }

  .balance-text .btn {
    margin-top: 30px;
    margin-bottom: 5%;
    padding: 5px 8px;
    font-size: 10px;
  }
  .balance-text-1 .btn {
   display: none;
  }
  .balance-text p {
    font-size: 10px;
  }

  .balance-text h1 {
    font-size: 10px;
  }

  .balance i {
    font-size: 20px;
  }

  .balance-text{
    display: flex;
    max-height: 800px;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    font-size: 1px;
    margin-top: 80px;

  }
  .balance-text-1 {
    display: flex;
    max-height: 500px;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    font-size: 1px;
  }

  .balance-text-1 .btn {
    margin-bottom: 5px;
    padding: 5px 8px;
    font-size: 1px;
  }

  .best-btn {
    margin-bottom: 70px;
    height: 5px;
    padding: 0;
    margin-top: 10px;
  }

  .btn {
    width: 100%;
    padding: 5px 5px;
    margin: 0;
    font-size: 50px;
  }

  .content {
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding: 20px;
  }
  hr{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .home {
    left: 0;
    width: 100%;
  }

  .balance-wallet,
  .wallet,
  .balance,
  .wallet-text-2,
  .balance-text,
  .content {
    width: 100%;
  }
  .balance-text-1{
    display: none;
  }


  .wallet-text-2 {
    margin-left: 0;
  }

  .balance-text,
  .balance-text-1 {
    width: 100%;
    margin-right: 0;
  }

  .best-btn {
    margin-top: 10px;
  }

  .btn,
  .btn-2 {
    width: 100%;
  }

  .container-data {
    padding: 5px;
  }

  .content {
    width: 90%;
    height: auto;
    margin-top: 20px;
    padding: 10px;
  }
  .balance-text-1 .btn {
    display: none;
   }
}
